* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    display: flex;
    flex-flow: column;
    text-align: center;
}

nav {
    text-align: center;
    padding: 16px;
    background-color: black;
    color: darkred;
    font-size: 48px
}

h1 {
    text-align: center;
    color: darkred;
    font-size: 2rem;
}
p {
    font-size: 6px;
    padding: 2px;
    color: darkred;
}

a {
    text-decoration: none;
    color: darkred;
}

a:hover {
    opacity: .85;
}

.stats-layout {
    display: flex;
    width: 100%;
}

.events {
    width: 50%;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
}

.events h2 {
    color: black;
}