{% extends "template.html" %}
{% load static %}

{% block title %}
    {{ division }}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block main %}
    <h1>This is the {{ division }} tab</h1>

        <a href = "/{{ division }}/races/"> {{ division }} Race Page</a> |
        <a href = "/{{ division }}/swimmers/"> {{ division }} Swimmers Page</a> |
        <a href = "/{{ division }}/teams/"> {{ division }} Teams Page</a>
{% endblock %}