{% extends "template.html" %}
{% load static %}

{% block title %}
    Teams
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block main %}
    {% if formatted_name %}
        <h1>{{ formatted_name }}</h1>
        {% for race in races %}
            <p>{{ race.place }}: {{ race.name }} swims for {{ race.team }} and went {{ race.time }} at {{ race.meet }} in the {{ race.gender }}'s {{ race.event }}</p>
        {% endfor %}
    {% else %}
        {% for race in races %}
            {% if race.team == "University of Utah Club Swim" %}
                <p>{{ race.name }} swam {{ race.event }} for {{ race.team }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}