<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

{% block style %}
{% endblock %}

</head>
<body>
    <nav>
        <a href = "/">Home Page</a> |
        {% for div in divisions %}
            {% if div != division %}
                <a href="/{{ div }}/">{{ div }} Page</a> |
            {% endif %}
        {% endfor %}
    </nav>
    <main>
        {% block table %}
        {% endblock %}

        {% block main %}
        {% endblock %}
    </main>
</body>
</html>