<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <a href = "/">Home Page</a> |
        <a href = "/races/">Race Page</a> |
        <a href = "/swimmers/">Swimmers Page</a> |
        <a href = "/teams/">Teams Page</a>
    </nav>
    <table>
    {% block table %}
    {% endblock %}
    </table>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>